@import url(/css/p1_wellcomscreen.css);
@import url(/css/p2_mainpage.css);
@import url(/css/p2.time.css);
@import url(/css/p2_todolist.css);


@import url(/css/variables.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

input,button{
    padding: 10px;
    margin: 5px 0px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.897);
}

button{
    cursor: pointer;
}

button:hover,
button:focus{
   background-color: var(--palepink);
    font-weight: bolder;
    color: white;

}

.hidden{
    display: none;
}

.main-page__wrap div:hover{
   box-shadow: var(--pointshadow);
}
